.main_list {
  background-color: #fff;
  height: calc(100vh - 45px - 50px);
  overflow: hidden;
  position: relative;
}

.main_list .city_item {
  padding-left: 10px;
}

.main_list .city_item .city_item_title {
  height: 40px;
  display: flex;
  align-items: center;
  color: #666;
  font-size: 12px;
}

.main_list .city_item .city_item_group .city_item_inner {
  font-size: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #ccc;
}

.main_list .letter_list {
  position: absolute;
  top: 2px;
  right: 10px;
}

.main_list .letter_list .letter_item {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_list .letter_list .active {
  background-color: green;
  color: #fff;
  border-radius: 50%;
}
