.home_nav {
  display: flex;
  background: #fff;
  .nav_item {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    img {
      width: 50%;
    }
  }
}

.groups {
  box-sizing: border-box;
  padding: 10px 10px;
  .groups_top {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;

    span:nth-child(1) {
      font-size: 16px;
      font-weight: 600;
    }
    span:last-child {
      color: #8c7d82;
    }
  }

  .groups_info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 100%;
    .groups_left {
      width: 48%;
      display: flex;
      background: #fff;
      padding: 12px;
      justify-content: space-between;
      margin-left: 5px;
      margin-top: 5px;
      .groups_title {
        display: flex;
        flex-direction: column;

        span:first-child {
          font-weight: 600;
          padding-bottom: 5px;
        }
        span:last-child {
          color: #999999;
          font-size: 12px;
        }
      }

      .groups_image {
        flex: 1;
        text-align: center;
        padding-left: 5px;
        img {
          width: 50%;
        }
      }
    }
  }
}

.news {
  box-sizing: border-box;
  padding: 10px 20px;
  background: #fff;
  .news_top {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .news_content {
    .news_center {
      display: flex;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      .news_image {
        img {
          width: 120px;
          height: 90px;
        }
      }
      .news_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;
        .news_title {
          font-weight: 600;
        }
        .news_bottom {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          color: #999;
        }
      }
    }
    .news_center:last-child {
      border-bottom: none;
    }
  }
}
