.house_list {
  display: flex;
  .house_top {
    width: 100vw;
    display: flex;
    background: #f5f5f5;

   
    .NavBar{
        width: 40px;
        padding-top: 7px;
        
    }
    .house_icon {
    //   width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search {
      flex: 1;
    }
  }
}
